<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <style>

        a, a:visited{
            color: #000;
        }

        a:hover{
            color: blue;
        }

        .article{
            border: 10px solid red;
            padding: 25px;
            margin-bottom: 50px;
        }
        .site_title{
            font-size: 72px;
            font-weight: bold;
            margin-bottom: 40px;
        }

    </style>
</head>
<body>
<header>
    <div class="site_title">Siamo spiacenti, questa pagina non è ancora supportata.</div>
</header>

</body>
</html>