<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <style>

        a, a:visited{
            color: #000;
        }

        a:hover{
            color: blue;
        }

        .article{
            border: 10px solid red;
            padding: 25px;
            margin-bottom: 50px;
        }
        .site_title{
            font-size: 72px;
            font-weight: bold;
            margin-bottom: 40px;
        }

        img{
            width: auto;
            max-width: 100%;
            height: auto;
        }

    </style>
</head>
<body>
<header>
    <div class="site_title">{{title}}</div>
</header>

{{#each structure}}
    <div class="section">
        {{#each articles}}
            <a href="/api/simplify?url={{url}}">
                <div class="article">
                    <h1 class="title">{{title}}</h1>
                    <h3 class="subtitle">{{subtitle}}</h3>
                    <h5 class="author">{{author}}</h5>
                    <span class="date">{{date}}</span>
                    <p class="text">{{text}}</p>
                    <div class="img-container">
                        <img src="{{image}}" alt="{{image_alt}}">
                    </div>
                </div>
            </a>
        {{/each}}
    </div>
{{/each}}
</body>
</html>