<span class="title">{{title}}</span>
<span class="subtitle">{{subtitle}}</span>
<span class="auth">{{auth}}</span>
<span class="data">{{data}}</span>
<span class="articleBody">{{articleBody}}</span>
<span class="image">{{image}}</span>